@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/container-queries";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);
	--color-muted: var(--muted);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-ring: var(--ring);
	--shadow-outline: var(--shadow-outline);
}

@layer base {
	:root {
		--background: oklch(1 0 0);
		--foreground: oklch(0.141 0.005 285.823);
		--accent: oklch(0.21 0.006 285.885);
		--input: oklch(0.9 0 0);
		--border: oklch(0.92 0.004 286.32);
		--muted: oklch(0.552 0.016 285.938);
		--ring: oklch(0.705 0.015 286.067);
		--shadow-outline:
			0px 0px 0px 1px oklch(0 0 0 / 0.07), 0px 2px 3px -1px oklch(0 0 0 / 0.08), 0px 1px 0px
			0px oklch(0 0 0 / 0.02);
	}

	.dark {
		--background: oklch(0.141 0.005 285.823);
		--foreground: oklch(1 0 0);
		--accent: oklch(1 0 0);
		--input: oklch(0.33 0 0);
		--border: oklch(0.274 0.006 286.033);
		--muted: oklch(0.705 0.015 286.067);
		--ring: oklch(0.7 0.016 285.938);
		--shadow-outline:
			inset 0 0px 0 1px oklch(1 0 0 / 0.05), inset 0 1px 0 0px oklch(1 0 0 / 0.1);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground h-full font-sans antialiased;
	}

	button {
		cursor: pointer;
	}

	[data-ui="icon"] {
		flex-shrink: 0;
	}

	::-webkit-scrollbar {
		width: 5px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: var(--color-border);
		border-radius: 5px;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) transparent;
	}

	.grecaptcha-badge {
		display: none;
	}
}
